/*** Project Meta ***/

/* line - 15 general */

/* line - 28 header */

/* line - 76 main content */

/* line - 225 footer */

/** GENERAL **/

body,
html {
  background-color: white;
  position: relative;
  margin: 0;
  font-size: 100%;
  padding: 0;
  font-family: "nyt-franklin", "helvetica", "arial", "sans-serif";
}

.font {
  font-family: "nyt-franklin", "helvetica", "arial", "sans-serif";
}

/** HEADER **/

.header {
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  margin-bottom: 5rem;
}

.sidenav,
.search {
  width: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham,
.mag {
  padding: 0.6rem 0.6rem;
  margin-right: 0.3rem; 
}

.nyt {
  display: inline-flex;
}

.nyt-img1 {
  width: 12.5rem;
  text-decoration: none;
}

.subscribe,
.log-in {
  background: #567b95;
  color: white;
  border-style: none;
  border: 1px solid #326891;
  border-radius: 5%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.7rem;
  margin-left: 0.3rem;
}

/** MAIN CONTENT **/

.space-title {
  width: 37.5rem;
  margin: auto;
  margin-bottom: 1rem;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.5rem;
}

.fig-space {
  width: 75rem;
  margin: 0 auto;
  max-width: 100%;
}

.space-pic {
  width: 100%;
  text-align: center;
}

.space-cite {
  width: 37.5rem;
  margin: auto;
}

.social-links {
  list-style: none;
}

.time {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}




/** FOOTER **/

.footer {
  bottom: 0;
}

.container {
  max-width: 80.9375rem;
  width: 100%;
  margin: 0 auto;
}

.footer-nav {
  display: flex;
  margin: 0 auto;
  padding-left: 5.65rem;
  padding-right: 5.65rem;
  justify-content: space-between;
  margin-bottom: 4.56rem;
}

.footer-nav .list-items {
  font-size: 0.7rem;
  text-align: center;
  list-style-type: none;
}

.footer-nav .list-items .link {
  text-decoration: none;
  color: #6f6f74;
}

.footer-nav .list-items .link:hover {
  text-decoration: underline;
}

.exp {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #000;
}

.expand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.access {
  text-align: center;
}

.ex {
  padding-left: 10rem;
  margin-left: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem
}

.arrow {
  margin-left: 2.5rem;
}
.arrow-img {
  width: 0.7rem;
}