/*** Project Meta ***/

/* line - 15 general */

/* line - 28 header */

/* line - 76 main content */

/* line - 225 footer */

/** GENERAL **/

body,
html {
  background-color: white;
  position: relative;
  margin: 0;
  font-size: 100%;
  padding: 0;
  font-family: "nyt-franklin", "helvetica", "arial", "sans-serif";
}

.font {
  font-family: "nyt-franklin", "helvetica", "arial", "sans-serif";
}

/** HEADER **/

.header {
  position: sticky;
  top: 0;
  overflow: hidden;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  margin-bottom: 5rem;
  z-index: 2;
}

.sidenav,
.search {
  width: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ham,
.mag {
  padding: 0.6rem 0.6rem;
  margin-right: 0.3rem; 
}

.nyt {
  display: inline-flex;
}

.nyt-img1 {
  width: 12.5rem;
  text-decoration: none;
}

.subscribe,
.log-in {
  background: #567b95;
  color: white;
  border-style: none;
  border: 1px solid #326891;
  border-radius: 5%;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.7rem;
  margin-left: 0.3rem;
}

/** MAIN CONTENT **/

.space {
  margin-bottom: 1rem;
}

.space-title {
  max-width: 37.5rem;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
  font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
  font-style: italic;
  font-weight: 700;
  font-size: 2.5rem;
}

.fig-space {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto 2.6875rem;
}

.space-pic {
  width: 100%;
  text-align: center;
}

.fig-space-info {
  font-size: 0.9375rem;
  margin-right: 7px;
  color: #666;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  width: 65%;
}

.copyright {
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: 400;
  color: #888;
}

.space-cite {
  max-width: 40rem;
  margin: auto;
  width: 50%;
  color: #888;
}

.cite {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  font-weight: bolder;
}

.cite-span {
  text-decoration: underline;
  cursor: pointer;
}

.cite-span:hover {
  text-decoration: none;
}

.time-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  list-style: none;
}

.social {
  display: inline;
}

.time {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
  font-weight: 500;
  color: #333;
  margin-bottom: 1rem;
  font-size: 0.8125rem;
  line-height: 1rem;
  margin-bottom: 0;
  margin-top: 0;
}


.s-icon {
  width: 0.8rem;
  padding: 0.4rem;
  background-color: #eeeeee;
  border-radius: 50%;
  margin-left: 0.5rem;
}

 .f-less {
  padding: 0;
  background-color: transparent;
  width: 1.6rem;
}

.chat {
  position: relative;
}

.chat .comments {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.article {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.main-article {
  /* width: 37.5rem; */
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  font-size: 1.25rem;
  line-height: 1.875rem;
}

q {
  quotes: "'" "'";
}

/*Unlock more articles*/
.article-ad {
  display: flex;
  flex-direction: column;
  max-width: 37.5rem;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 0.9375rem; 
  line-height: 1.1875rem;
  text-align: center;
  margin: 1.5625rem auto;
}

.ad-border-top {
  width: 4.5rem; /*72px*/
  margin: 0 auto 1.125rem; /*18px*/
  border-bottom: 1px solid rgb(204, 204, 204);
}

.unlock,
.create {
  margin: 0;
}

.unlock {
  color: rgb(51,51,51);
}

.create {
  color: rgb(50,104,145);
  cursor: pointer;
}

.ad-border-bottom {
  width: 4.5rem; /*72px*/
  margin: 1.125rem auto 0; /*18px*/
  border-bottom: 1px solid rgb(204, 204, 204); 
}

/*The theory of inflation*/
/* .theory-alignment {
  display: flex;
  flex-direction: column;
} */

.theory-alignment {
  width: 59.0625rem; /*945px;*/
  margin: 0 auto 0.625rem;
}

.theo-title{
  font-size: 1.25rem;
  font-weight: 700;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
  margin-bottom: 2px;
  color: #000;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0.05rem;
  margin-inline-end: 0.05rem;
}

.theo-summary{
  font-size: .875rem;
  line-height: 1.125rem; /*18px;*/
  font-family: nyt-cheltenham-sh,georgia,times new roman,times,serif;
  color: #666;
}

.theory {
  width: 59.0625rem; /*945px;*/
  height: 36rem; /*576px;*/
  margin: 0 auto;
  
}

.theory-pic {
  width: 100%;
  height: 100%;

}

.grid-theory {
  display: grid;
  grid-template-columns: repeat(4, 14.25rem); /*228px);*/
  column-gap: 0.8rem;
  font-size: 0.875rem; /*14px;*/
  line-height: 1.0625rem; /*17px;*/
}

.grid-theory strong {
  font-size: 0.6875rem; /*11px*/ 
  letter-spacing: .045rem;
}

.grid-one {
  position: relative;
  top: -28.125rem; /*-450px;*/
}

.grid-two {
  position: relative;
  top: -20.3125rem; /*-325px;*/
}

.theo-bottom-border {
  width: 3.75rem; /*60px;*/
  content: '';
  display: inline-block;
  height: 0.125rem; /*2px;*/
  margin: 0 0 0.8125rem; /*13px;*/
  background-color: #000;
}



/*Stanford*/
.fig-stanford-video {
  margin-top: 2.75rem;
  margin-bottom: 2rem;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 54.181%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
} 


.fig-stanford-info {
  margin-left: 0;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  margin: 0.65rem 20px 0 0px;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  width: 82%;
}

.fig-telescope {
  max-width: 45rem;
  width: 100%;
  margin: 1.67rem auto;
}

.telescope-pic {
  width: 100%;
  text-align: center;
}

.fig-telescope-info {
  margin-left: 0;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
  margin: 3px 20px 0 0px;
  text-align: left;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #666;
  width: 95%;
}

.aside {
  display:inline-flex;
  flex-direction: column;
}

.aside-label {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  margin-bottom: 0.9375rem; /*15px;*/
  padding-bottom: 0.75rem; /*12px;*/
  font-size: 0.875rem; /*14px;*/
  line-height: 0.875rem; /*14px;*/
  border-bottom: 1px solid rgb(226, 226, 226);
}

.editors-picks {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 5px;
  width: 120px;
  height: 70px;
}

.pick1 {
  
} 
.pick1 > img {
  width: 4.6875rem;
  float: left;
}

.pick1 > span {
  float: right;
}

.pick2 {
  background-color: turquoise;
}

.pick3 {
  background-color: teal;
} 

/** FOOTER **/

.footer {
  bottom: 0;
}

.contain {
  width: 80.9375rem;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 0.75rem;
}

.b-nav {
  border-top: 1px solid rgb(237,237,237);
  border-bottom: 1px solid #000;
}

.b-nav {
  padding: 1rem 0;
}

.bnav-img {}

.bnav-img .home {
  float: right;
  vertical-align: baseline;
}

.nyt-more:after {
  content: "";
  display: table;
  clear: left;
}

.more-nav {
  float: left;
  width: 16.66%;
}

.title-more {
  margin: 0;
  height: 3rem;
}


.footer-nav {
  display: flex;
  margin: 0 auto;
  padding-left: 5.65rem;
  padding-right: 5.65rem;
  justify-content: space-between;
  margin-bottom: 4.56rem;
}

.footer-nav .list-items {
  font-size: 0.7rem;
  text-align: center;
  list-style-type: none;
}

.footer-nav .list-items .link {
  text-decoration: none;
  color: #6f6f74;
}

.footer-nav .list-items .link:hover {
  text-decoration: underline;
}

.exp {
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #000;
  background-color: #ffffff;
}

.expand {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.access {
  text-align: center;
}

.ex {
  padding-left: 10rem;
  margin-left: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem
}

.arrow {
  margin-left: 2.5rem;
}
.arrow-img {
  width: 0.7rem;
}