/*** Project Meta ***/

/* line - 15 general */

/* line - 28 header */

/* line - 76 main content */

/* line - 225 footer */

/** general **/

body {
  background-color: white;
  /* position: relative; */
}

html {
  font-size: 100%;
}

.font {
  font-family: "nyt-franklin", "helvetica", "arial", "sans-serif";
}


/** header **/

header {
  overflow: hidden;
  padding: 0.4rem 1%;
}

.img1,
.img2 {
  width: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nyt-img1 {
  width: 6rem;
}

/** main content **/


/** footer **/





/* .navbar-alignment{
  display: flex;
  width: 100%;
  height: 42px;
  padding: 4px 15px 2px;
  position: fixed;
  background-color: royalblue;
  justify-content: space-between;

}

.nav-containers {
  display: flex;
  width: 254px;
  height: 33px;
  background-color: silver;
} */
